extends layout

block content
  h1 Unita SEGUENTI:
  ul
  each unita in units
   li
       img(src=`/images/${unita.Unit}.png`)  
       br
       a(href=`/dettagli/${unita.Unit}`) #{unita.Unit}
       